body
{
    background: url(img/background.jpg);
}
h1, h2, h3, h4, h5, h6
{
    color: rgb(189, 189, 255);
}
.green
{
    color: rgb(128, 250, 128);
}
header
{
    background: rgba(0, 0, 0, 0.6);
}
p, ul, li
{
    color: silver;
}

.img-crcle
{
    height: 500px;
    width: 500px;
    border-radius: 100%;
}